@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
  
  --color-brand-dark: #1a1a1a;
  --color-brand-lime: #84cc16; /* Darker lime for better contrast on white */
  --color-brand-orange: #f97316;
  --color-brand-gray: #f3f4f6;
  --color-brand-yellow: #eab308;
  --color-brand-pink: #ec4899;
}

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}
