@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
  
  --color-brand-dark: #0a0a0a;
  --color-brand-lime: #ccff00;
  --color-brand-orange: #ff5500;
  --color-brand-gray: #1f1f1f;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}
